.dither-pattern {
  background-image: 
    repeating-linear-gradient(0deg, transparent 0px, transparent 1px, white 1px, white 2px),
    repeating-linear-gradient(90deg, transparent 0px, transparent 1px, white 1px, white 2px);
  background-size: 3px 3px;
}

.grid-bg {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.3;
}

